/*Header styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
     height: 100vh;
     width: 100vw;
     font-family: 'Roboto';
}
*{
    box-sizing: border-box;
}

.header-container{
    background-color: #1F2937;
    color: white;
    padding-top: 20px;
}

.nav-bar{
    display: flex;
    list-style: none;
    justify-content: center;
}

.logo{
    margin-right: 40%;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-item-right{
    padding:0 20px 0 20px;
}

.hero-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
    
}

.hero-text{
    max-width: 400px;
}

.hero-h1{
    font-size: 48px;
    font-weight: extra-bold !important;
    color: #F9FAF8;
}

.sign-up-btn{
    background-color: #3882F6;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    color: white;
}

.hero-img{
    display: flex;
    background-color: grey;
    margin-left: 100px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.hero-img-text{

}

/*Info styles*/

.info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}

.content-card-container{
    display: flex;
    
}
.card{
    margin: 0 20px 0 20px;
}

.box{
    height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 8px;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote-text-container{
    margin: 100px 0 100px 0;
    max-width: 60%;
}

.quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;

}
.footer-container{
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
}
.cta-block{
    background-color: #3882F6;
    border-radius: 10px;
    width: 70%;
    padding: 40px 70px 10px 50px;
    color: white;


}

.cta-block-inner{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    line-height: 0;

}

.btn-container{
    display: flex;
    justify-content: right;
    transform: translateY(-50px);
}

.cta-cta{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
    border: 2px solid white;
    font-family: 'Roboto';